/* 
background-color: #191c27;
background-color: #96192b;
background-color: #666666;
*/

html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #191c27;
}

.logo {
    padding: 15px 0 15px 20px;
    width: 300px;
}

nav {
    text-align: right;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px 0 25px;
    padding: 0 5px 0 5px;
}

nav ul li:hover {
    border-bottom: solid 3px #96192b;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

/* FÆLLES STYLING FOR NAV */
main nav {
    width: 100%;
    background-color: #191c27;
    text-align: center;
    float: center;
}

.bottomNav {
    border-bottom: 2px solid #666666;
}

.activePage {
    border-bottom: solid 3px #96192b;
    font-weight: bold;
}

.blueBar {
    width: 100%;
    height: 70px;
    background-color: #191c27;
}

/* FÆLLES STYLING FOR HERO */
.hero {
    margin: 0;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center;
    padding-top: 75px;
    text-shadow: 6px 6px 8px #000000;
}

.hero h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}

.hero p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    width: 60vw;
}

/* BACKGROUND-IMAGES TIL HERO */ 
/* forside, om os, kontakt os, galleri */
.forside, .omOs, .kontakt, .galleri {
    background-image: url("/assets/image/blomsterWeb.jpg");
}

/* årstider og selskaber */
.foraar         {background-image: url("/assets/image/menu.png");}
.sommer         {}
.efteraar       {}
.vinter         {}
.bryllup        {background-image: url("/assets/image/selskab_headers.jpg");}
.konfirmation   {}

/* FORSIDE */
.forsideGrid h2 {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
}

.forsideGrid h5 {
    margin: 0;
    font-weight: normal;
}

.forsideGrid a {
    text-align: center;
    padding: 60px;
    font-weight: lighter;
    margin: 7.5px;
    text-decoration: none;
    color: white;
}

/* box colors */
.red        { background-color: #96192b;}
.darkblue   { background-color: #191c27;}
.grey       { background-color: #666666;}
.billede1   { background-image: url("/assets/image/forsideBillede1.png");}
.billede2   { background-image: url("/assets/image/forsideBillede2.png");}

.billede1, .billede2 {
    background-repeat: no-repeat;
    background-size: cover;
}

/* box color hover */
.red:hover        { background-color: #921024;}
.darkblue:hover   { background-color: #1d2132;}
.grey:hover       { background-color: #5e5e5e;}

/* forside grid areas */
.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}
.box5 {grid-area: box5;}
.box6 {grid-area: box6;}
.box7 {grid-area: box7;}
.box8 {grid-area: box8;}

.forsideGrid {
    margin: 7.5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}


/* FOOTER */
/* grid areas for footer */
.footerAddress  {grid-area: address;}
.footerTlf      {grid-area: tlf;}
.footerSocials  {grid-area: social;}
.cookie         {grid-area: cookie;}

footer {
    width: 100%;
    background-color: #191c27;
    display: grid;
    grid-template-columns: 5% 1fr 10% 1fr 5% 1fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas: 
    ". address . tlf . social"
    "cookie cookie cookie cookie cookie cookie";
}

.footerAddress  {
    padding: 25px;
}

address {
    padding-left: 20px;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.footerTlf {
    line-height: 1;
    padding: 20px 25px 25px 25px;
    vertical-align: top;
}

.footerTlf h4 {
    font-weight: normal;
}

.icon {
    font-size: 30px;
    vertical-align: middle;
}

.footerSocials {
    text-align: left;
    line-height: 3.4;
    padding: 25px;
}

.cookie {
    background-color: #96192b;
    text-align: center;
}

.cookie a {
    padding: 0 170px 0 140px;
}

/* MENU OG SELSKABER */

    /* Menu */

    .baggrund {

        background-image: url("/assets/image/Lunde-Wedding-19052018-627.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hvidBox {
        width: 60%;
        height: auto;
        margin: 55px 20%;
        display: inline-block;
        background-color: white;
        opacity: 85%;
        color: #191c27;
        text-align: center;
    }

    .maaneder, .vaelgMellem {
        color: #666666;
        font-weight: normal;
    }

    .pris {
        font-size: 22px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: solid 3px #96192b;
    }

    .menuOverskrift {
        text-decoration: underline solid 3px #96192b;
    }

    article {
        margin: 30px 100px;
    }

    
    /* Selskaber */

    

/* OM OS */


/* KONTAKT OS */


/* GALLERI */
