/* 
background-color: #191c27;
background-color: #96192b;
background-color: #666666;
*/

html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* HEADER */
header {
    background-color: #191c27;
}

.logo {
    padding: 15px 0 15px 20px;
    width: 300px;
}

nav {
    text-align: right;
    float: right;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px 0 25px;
    padding: 0 5px 0 5px;
}

nav ul li:hover {
    border-bottom: solid 3px #96192b;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

/* FÆLLES STYLING FOR NAV */
main nav {
    width: 100%;
    background-color: #191c27;
    text-align: center;
    float: center;
}

.bottomNav {
    border-bottom: 2px solid #666666;
}

.activePage {
    border-bottom: solid 3px #96192b;
    font-weight: bold;
}

.blueBar {
    width: 100%;
    height: 70px;
    background-color: #191c27;
}

.burgerikon {font-size: 0;} 

/* media query for header */
@media screen and (max-width: 812px) {
    header nav {
        display: none;
    }

    .burgerikon {
        font-size: 22px;
        padding: 20px;
        float: right;
    }

    .logo {
        width: 250px;
    }

    main nav {
        width: 100%;
        background-color: #191c27;
        text-align: center;
        float: center;
    }

    main nav ul {
        padding: 0;
    }

    main nav ul li {
        margin: 0;
        padding: 0 9px;
        font-size: 20px;
    }
    
    .bottomNav {
        border-bottom: 2px solid #666666;
    }
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
    header nav {
        display: none;
    }

    .burgerikon {
        font-size: 22px;
        padding: 20px;
        float: right;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .tabletNav {
        display: none;
    }    
}

/* FÆLLES STYLING FOR HERO */
.hero {
    margin: 0;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    text-align: center;
    padding-top: 75px;
    text-shadow: 0px 0px 8px #000000;
}

.hero h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}

.hero p {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    width: 60vw;
}

/* BACKGROUND-IMAGES TIL HERO */ 
/* forside, om os, kontakt os, galleri */
.forside {background-image: url("../image/vinter.jpg");}

.omOs, .kontakt, .galleri {
    background-image: url("../image/blomsterWeb.jpg");
}

/* årstider og selskaber */
.foraar         {background-image: url("../image/foraar.jpg");}
.sommer         {background-image: url("../image/blomsterWeb.jpg")}
.efteraar       {background-image: url("../image/efteraar.jpg")}
.vinter         {background-image: url("../image/vinter.jpg")}
.bryllup        {background-image: url("../image/selskab_headers.jpg");}
.konfirmation   {background-image: url("../image/selskab_headers.jpg");}


@media screen and (max-width: 812px) {
    .hero {
        height: 25vh;
    }

    .hero h1 {
        font-size: 33px;
    }

    .hero p {
        width: 80vw;
        font-size: 18px;
    }

    .foraar, .sommer, .efteraar, .vinter {
        height: 40vh;
        max-height: 35vh;
        padding-top: 70px;
    }

    .foraar {
        background-size: 160%;
    }

    .foraar h1, .sommer h1, .efteraar h1, .vinter h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
    .hero {
        height: 25vh;
    }
    
}

/* FORSIDE */
.forsideGrid h2 {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
}

.forsideGrid h5 {
    margin: 0;
    font-weight: normal;
}

.forsideGrid a {
    text-align: center;
    padding: 60px;
    font-weight: lighter;
    margin: 7.5px;
    text-decoration: none;
    color: white;
}

/* box colors */
.red        { background-color: #96192b;}
.darkblue   { background-color: #191c27;}
.grey       { background-color: #666666;}
.billede1   { background-image: url("../image/forsideBillede1.jpg");}
.billede2   { background-image: url("../image/efteraargalleri.jpg");}

.billede1, .billede2 {
    background-repeat: no-repeat;
    background-size: cover;
}

/* box color hover */
.red:hover        { background-color: #921024;}
.darkblue:hover   { background-color: #1d2132;}
.grey:hover       { background-color: #5e5e5e;}

/* forside grid areas */
.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}
.box5 {grid-area: box5;}
.box6 {grid-area: box6;}
.box7 {grid-area: box7;}
.box8 {grid-area: box8;}

.forsideGrid {
    margin: 7.5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}

@media screen and (max-width: 812px) {
    .box3       {background-color: #191c27;}
    .box3:hover {background-color: #1d2132;}
    .box4       {background-color: #666666;}
    .box4:hover {background-color: #5e5e5e;}

    .forsideGrid {
        margin: 4px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "box1 box2" 
        "box3 box4"
        "box5 box6"
        "box8 box7";
    }

    .forsideGrid h2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    .forsideGrid a {
        margin: 4px;
        padding: 50px 0;
    }
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
    .forsideGrid {
        margin: 4px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "box1 box2 box3 box4"
        "box5 box6 box7 box8";
    }

    .forsideGrid h2 {
        margin: 0;
        padding: 0;
        font-size: 25px;
    }

    .forsideGrid a {
        margin: 4px;
        padding: 50px 0;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .forsideGrid {
        margin: 7.5px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "box1 box2 box3 box4"
        "box5 box6 box7 box8";
    }

    .forsideGrid h2 {
        margin: 0;
        padding: 0;
        font-size: 28px;
    }

    .forsideGrid a {
        margin: 7.5px;
        padding: 50px 0;
    }
}

/* FOOTER */
/* grid areas for footer */
.footerAddress  {grid-area: address;}
.footerTlf      {grid-area: tlf;}
.footerSocials  {grid-area: social;}
.cookie         {grid-area: cookie;}

footer {
    width: 100%;
    background-color: #191c27;
    display: grid;
    grid-template-columns: 5% 1fr 10% 1fr 5% 1fr;
    grid-template-rows: 1fr 20px;
    grid-template-areas: 
    ". address . tlf . social"
    "cookie cookie cookie cookie cookie cookie";
}

.footerAddress  {
    padding: 25px;
}

address {
    padding-left: 20px;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.footerTlf {
    line-height: 1;
    padding: 20px 25px 25px 25px;
    vertical-align: top;
}

.footerTlf h4 {
    font-weight: normal;
}

.icon {
    font-size: 30px;
    vertical-align: middle;
}

.footerSocials {
    text-align: left;
    line-height: 3.4;
    padding: 25px;
}

.cookie {
    height: 30px;
    background-color: #96192b;
    text-align: center;
    margin: 0;
}

.cookie a {
    padding: 0 170px 0 140px;
}

@media screen and (max-width: 812px) {
    footer {
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 140px 180px 200px 20px;
        grid-template-areas: 
        "address address address"
        ". tlf ."
        ". social ."
        "cookie cookie cookie";
    }

    .cookie a {
        padding: 0 20px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1024px) {
    footer {
        display: grid;
        grid-template-columns: 0.9fr 1fr 1.1fr;
        grid-template-rows: 1fr 20px;
        grid-template-areas: 
        "address tlf social"
        "cookie cookie cookie";
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 100px 1fr 1fr;
        grid-template-rows: 1fr 20px;
        grid-template-areas: 
        "address . tlf social"
        "cookie cookie cookie cookie";
    }
}

/* FÆLLES STYLING FOR ALLE SIDER */
.redUnderline {
    text-decoration: underline solid 3px #96192b;
    text-underline-position: under;
}

/* MENU OG SELSKABER */
.baggrund {
    background-image: url("../image/menubaggrund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hvidBox {
    width: 60%;
    height: auto;
    margin: 55px 20%;
    display: inline-block;
    background-color: white;
    opacity: 85%;
    color: #191c27;
    text-align: center;
}

.hvidBox li {
    text-align: left;
    margin: 30px;
}

.maaneder, .vaelgMellem, .selskabGrey, .selskabRing {
    color: #666666;
    font-weight: normal;
}

.selskabGrey {
    font-size: 18px;
}

.selskabRing {
    font-size: 18px;
    padding-top: 10px;
}

.menuoverskrift {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

.pris {
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: solid 3px #96192b;
}

.hvidBox article {
    margin: 30px 100px;
}

@media screen and (max-width: 812px) {
    .hvidBox {
        margin: 5%;
        padding: 5% 0;
        width: 90%;
    }

    .hvidBox article {
        margin: 2%;
    }

    .pris, .maaneder {
        font-size: 19px;
        border-bottom: none;
    }

    .hvidBox li {
        text-align: left;
        margin: 20px 30px 20px 10px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .hvidBox {
        margin: 5% 15%;
        padding: 5% 0;
        width: 70%;
    }

    .hvidBox article {
        margin: 2%;
    }

    .pris, .maaneder {
        font-size: 19px;
        border-bottom: none;
    }

    .hvidBox ul {
        text-align: left;
        margin: 20px 10% 20px 5%;
    }
}

/* OM OS */
/* Om os grid areas */
.omOsText1  {grid-area: omOsText1;}
.omOsPic1   {grid-area: omOsPic1;}
.omOsPic2   {grid-area: omOsPic2;}
.omOsText2  {grid-area: omOsText2;}

.omOsGrid {
    padding: 50px 140px 100px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 5%;
    color: #191c27;
    grid-template-areas: 
    "omOsText1 omOsPic1"
    "omOsText2 omOsPic2"
}

.omOsText {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.omOsTitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 22px;
}

.omOsGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 812px) {
    .omOsGrid {
        margin: 0 20px 20px 20px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0.5fr 1fr 0.5fr;
        grid-gap: 0%;
        grid-template-areas: 
        "omOsText1"
        "omOsPic1"
        "omOsText2"
        "omOsPic2";
    }

    .blueBar {
        display: none;
    }

    .omOsTitle {
        margin-top: 20px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .omOsGrid {
        margin: 0;
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        grid-gap: 50px;
        grid-template-areas: 
        "omOsText1 omOsPic1"
        "omOsText2 omOsPic2"
    }

    .blueBar {
        display: none;
    }
}

/* KONTAKT OS */
.kontakt-description    { grid-area: kontakt; }
.kontaktoplysninger img { grid-area: map; }
.form                   { grid-area: form; }
.rules                  { grid-area: rules;}

.kontaktoplysninger {
    padding: 50px 140px 100px 140px;
    color: #191c27;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr 0.5fr 1fr;
    grid-gap: 30px;
    grid-template-areas: 
    "kontakt kontakt kontakt kontakt kontakt"
    "map map map map map"
    "rules rules rules form form";
}

.kontakt-description p {
    width: auto;
}

.kontaktoplysninger img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mapouter {
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=number], textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical /* gør text-area højere i stedet for bredere, når brugeren skriver en besked */
}

.contact-form{
    background-color: #f0f0f0;
    padding: 30px;
    max-width: 400px;
    display: inline-block;
}

.btn-send {
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.btn-link-arrow {
    width: 43px;
    height: 43px;
    background-color: #191c27;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMi4wMiAyMS4yMSI+PHRpdGxlPmFycm93LXJpZ2h0PC90aXRsZT48ZyBpZD0iMjBhZDEwMzctMGUzYS00ZDI0LTg0ZjEtYjlmZDBlZjkyMTdkIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSI1YjcxOTliYi04M2VlLTRlOGMtOTkzZC1jOGY4YWU2OWYzNjciIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBvbHlnb24gcG9pbnRzPSIxMC42MSA5LjE5IDEuNDEgMCAwIDEuNDEgOS4xOSAxMC42MSAwIDE5LjggMS40MSAyMS4yMSAxMi4wMiAxMC42MSAxMC42MSA5LjE5IiBzdHlsZT0iZmlsbDojZmZmO2ZpbGwtcnVsZTpldmVub2RkIi8+PC9nPjwvZz48L3N2Zz4=);
    background-position: 50% 50%;
    background-size: 13px 23px;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-link-arrow:hover {
    background-color:  #666666;
}

.rules {
    padding-bottom: 30px;
}

.rules li {
    padding-bottom: 15px;
}

@media screen and (max-width: 812px) {
    .kontaktoplysninger {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 1fr 0.5fr;
        grid-gap: 20px;
        grid-template-areas: 
        "kontakt"
        "map"
        "rules"
        "form";
    }

    .form {
        margin: auto;
    }

    .takeaway {
        max-width: 600px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .kontaktoplysninger {
        margin: 0;
        padding: 30px 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.5fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
        "kontakt kontakt"
        "map map"
        "rules form";
    }

    .form {
        margin: 0 auto;
    }
}

/* GALLERI */
/* grid areas til galleri */
.img1   {grid-area: img1;}
.img2   {grid-area: img2;}
.img3   {grid-area: img3;}
.img4   {grid-area: img4;}
.img5   {grid-area: img5;}
.img6   {grid-area: img6;}
.img7   {grid-area: img7;}
.img8   {grid-area: img8;}
.img9   {grid-area: img9;}
.img10  {grid-area: img10;}
.img11  {grid-area: img11;}
.img12  {grid-area: img12;}

/* grid */ 
.billedgalleri {
    padding: 40px 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 140px repeat(6, 1fr) 140px;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas: 
    ". img1 img1 img2 img4 img6 img6 ."
    ". img1 img1 img3 img5 img6 img6 ."
    ". img7 img9 img9 img10 img10 img11 ."
    ". img8 img9 img9 img10 img10 img12 .";
}

.billedgalleri img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 812px) {
    .billedgalleri {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
        ". img1 img2 ."
        ". img3 img4 ."
        ". img5 img6 ."
        ". img7 img8 ."
        ". img9 img10 ."
        ". img11 img12 .";
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .billedgalleri {
        display: grid;
        grid-template-columns: 7% 1fr 1fr 1fr 7%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
        ". img1 img2 img3 ."
        ". img4 img5 img6 ."
        ". img7 img8 img9 ."
        ". img10 img11 img12 .";
    }
}